n8n-workflows/flight-booking-test.json
{
  "name": "Flight Booking Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-flight-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 460],
      "webhookId": "flight-booking-test"
    },
    {
      "parameters": {
        "url": "http://localhost:8001/tools",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Get Available Tools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Check Tools Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate flight search parameters\nconst searchParams = {\n  origin: 'MAD',\n  destination: 'BCN',\n  departure_date: '2024-03-20',\n  return_date: '2024-03-25',\n  passengers: 1,\n  class: 'economy',\n  passenger_name: 'Jane Smith',\n  passenger_email: 'jane.smith@example.com',\n  passenger_phone: '+34-600-123-456'\n};\n\nreturn {\n  json: searchParams\n};"
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Prepare Flight Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool_name",
              "value": "unknown_tool"
            },
            {
              "name": "arguments",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Call Flight Booking Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Process flight booking response\nconst response = $input.all()[0].json;\nconst searchParams = $input.all()[1].json;\n\n// Extract booking details\nconst bookingData = {\n  status: response.success ? 'confirmed' : 'failed',\n  booking_reference: response.booking_reference || 'N/A',\n  flight_number: response.flight_number || 'IB1234',\n  origin: searchParams.origin,\n  destination: searchParams.destination,\n  departure_date: searchParams.departure_date,\n  return_date: searchParams.return_date,\n  passenger_name: searchParams.passenger_name,\n  passenger_email: searchParams.passenger_email,\n  class: searchParams.class,\n  passengers: searchParams.passengers,\n  total_price: response.total_price || 'N/A',\n  currency: response.currency || 'EUR',\n  seat_numbers: response.seat_numbers || ['12A'],\n  check_in_url: response.check_in_url || 'https://checkin.airline.com',\n  timestamp: new Date().toISOString(),\n  raw_response: response\n};\n\nreturn {\n  json: bookingData\n};"
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Process Booking Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Check Booking Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "message": "✈️ Flight Booking Confirmed!\n\n🎫 Booking Reference: {{ $json.booking_reference }}\n✈️ Flight: {{ $json.flight_number }}\n📍 Route: {{ $json.origin }} → {{ $json.destination }}\n📅 Departure: {{ $json.departure_date }}\n📅 Return: {{ $json.return_date }}\n👤 Passenger: {{ $json.passenger_name }}\n💺 Class: {{ $json.class }}\n👥 Passengers: {{ $json.passengers }}\n💰 Total: {{ $json.total_price }} {{ $json.currency }}\n💺 Seats: {{ $json.seat_numbers.join(', ') }}\n🌐 Check-in: {{ $json.check_in_url }}",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 120]
    },
    {
      "parameters": {
        "message": "❌ Flight Booking Failed!\n\n✈️ Route: {{ $json.origin }} → {{ $json.destination }}\n📅 Dates: {{ $json.departure_date }} to {{ $json.return_date }}\n👤 Passenger: {{ $json.passenger_name }}\n\n⚠️ Error Details:\n{{ JSON.stringify($json.raw_response, null, 2) }}",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "Failure Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 280]
    },
    {
      "parameters": {
        "message": "⚠️ No ATDF Tools Available!\n\nThe MCP bridge at http://localhost:8001 is not returning any tools.\nPlease check:\n- ATDF server is running on port 8000\n- MCP bridge is running on port 8001\n- Both services are properly connected",
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "No Tools Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "to": "{{ $json.passenger_email }}",
        "subject": "Flight Booking Confirmation - {{ $json.booking_reference }}",
        "text": "Dear {{ $json.passenger_name }},\n\nYour flight booking has been confirmed!\n\nBooking Details:\n- Booking Reference: {{ $json.booking_reference }}\n- Flight: {{ $json.flight_number }}\n- Route: {{ $json.origin }} → {{ $json.destination }}\n- Departure: {{ $json.departure_date }}\n- Return: {{ $json.return_date }}\n- Class: {{ $json.class }}\n- Seats: {{ $json.seat_numbers.join(', ') }}\n- Total: {{ $json.total_price }} {{ $json.currency }}\n\nCheck-in online: {{ $json.check_in_url }}\n\nThank you for choosing our service!\n\nBest regards,\nATDF Travel Services",
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 120]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Available Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Available Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Tools": {
      "main": [
        [
          {
            "node": "Check Tools Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tools Available": {
      "main": [
        [
          {
            "node": "Prepare Flight Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tools Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Flight Parameters": {
      "main": [
        [
          {
            "node": "Call Flight Booking Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Flight Booking Tool": {
      "main": [
        [
          {
            "node": "Process Booking Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Booking Response": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Status": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Notification": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "atdf-mcp-integration"
  },
  "id": "flight-booking-test",
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "atdf-test",
      "name": "ATDF Test"
    }
  ]
}