n8n-workflows/hotel-reservation-workflow.json
{
  "name": "Hotel Reservation via ATDF-MCP",
  "nodes": [
    {
      "parameters": {},
      "id": "f8b8c8e0-7b1a-4b2c-9d3e-4f5g6h7i8j9k",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/mcp",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"hotel_reservation\",\n    \"arguments\": {\n      \"guest_name\": \"{{ $json.guest_name || 'Juan Pérez' }}\",\n      \"email\": \"{{ $json.email || 'juan.perez@example.com' }}\",\n      \"check_in\": \"{{ $json.check_in || '2025-12-15T15:00:00' }}\",\n      \"check_out\": \"{{ $json.check_out || '2025-12-18T11:00:00' }}\",\n      \"room_type\": \"{{ $json.room_type || 'suite' }}\",\n      \"guests\": {{ $json.guests || 2 }}\n    }\n  }\n}"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Call ATDF Hotel Reservation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success_condition",
              "leftValue": "={{ $json.result.content[0].text }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Check Reservation Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "message": "✅ Hotel reservation successful!\n\nDetails:\n{{ JSON.parse($('Call ATDF Hotel Reservation').item.json.result.content[0].text) }}",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "message": "❌ Hotel reservation failed!\n\nError:\n{{ $('Call ATDF Hotel Reservation').item.json.result.content[0].text }}",
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Error Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Call ATDF Hotel Reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ATDF Hotel Reservation": {
      "main": [
        [
          {
            "node": "Check Reservation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reservation Status": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "local"
  },
  "id": "hotel-reservation-atdf-mcp",
  "tags": [
    {
      "createdAt": "2025-10-01T07:35:00.000Z",
      "updatedAt": "2025-10-01T07:35:00.000Z",
      "id": "atdf-integration",
      "name": "ATDF Integration"
    }
  ]
}