n8n-workflows/hotel-reservation-test.json
{
  "name": "Hotel Reservation Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "f6b4c5d7-8e9f-4a1b-2c3d-4e5f6a7b8c9d",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-hotel-reservation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        460
      ],
      "webhookId": "hotel-reservation-test"
    },
    {
      "parameters": {
        "url": "http://localhost:8001/tools",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Get Available Tools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Check Tools Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/mcp",
        "sendBody": true,
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "specifyBody": "json",
        "jsonBody": "{\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"hotel_reservation\",\n    \"arguments\": {\n      \"guest_name\": \"John Doe\",\n      \"email\": \"john.doe@example.com\",\n      \"check_in\": \"2024-03-15T15:00:00\",\n      \"check_out\": \"2024-03-18T11:00:00\",\n      \"room_type\": \"deluxe\",\n      \"guests\": 2\n    }\n  }\n}"
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Call Hotel Reservation Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process hotel reservation response from MCP bridge\nconst rpcResponse = $input.first().json;\nconst content = rpcResponse?.result?.content ?? [];\nconst rawText = content.length ? content[0].text : null;\n\nlet parsed;\ntry {\n  parsed = rawText ? JSON.parse(rawText) : {};\n} catch (error) {\n  parsed = { status: 'failed', parse_error: error.message, raw: rawText };\n}\n\nconst details = parsed.details ?? {};\nconst status = parsed.status ?? 'failed';\n\nconst reservationData = {\n  status,\n  reservation_id: parsed.reservation_id ?? 'N/A',\n  hotel_name: 'Grand Plaza Hotel',\n  guest_name: details.guest_name ?? 'John Doe',\n  check_in: details.check_in ?? '2024-03-15T15:00:00',\n  check_out: details.check_out ?? '2024-03-18T11:00:00',\n  room_type: details.room_type ?? 'deluxe',\n  guests: details.guests ?? 2,\n  message: parsed.message ?? null,\n  timestamp: new Date().toISOString(),\n  raw_response: parsed\n};\n\nreturn {\n  json: reservationData\n};\n"
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Process Reservation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Check Reservation Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "message": "✅ Hotel Reservation Confirmed!\n\n🏨 Hotel: {{ $json.hotel_name }}\n👤 Guest: {{ $json.guest_name }}\n📅 Check-in: {{ $json.check_in }}\n📅 Check-out: {{ $json.check_out }}\n🛏️ Room: {{ $json.room_type }}\n👥 Guests: {{ $json.guests }}\n💰 Total Cost: {{ $json.total_cost }}\n🎫 Confirmation: {{ $json.confirmation_number }}\n🆔 Reservation ID: {{ $json.reservation_id }}",
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1560,
        120
      ]
    },
    {
      "parameters": {
        "message": "❌ Hotel Reservation Failed!\n\n🏨 Hotel: {{ $json.hotel_name }}\n👤 Guest: {{ $json.guest_name }}\n📅 Dates: {{ $json.check_in }} to {{ $json.check_out }}\n\n⚠️ Error Details:\n{{ JSON.stringify($json.raw_response, null, 2) }}",
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Failure Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1560,
        280
      ]
    },
    {
      "parameters": {
        "message": "⚠️ No ATDF Tools Available!\n\nThe MCP bridge at http://localhost:8001 is not returning any tools.\nPlease check:\n- ATDF server is running on port 8000\n- MCP bridge is running on port 8001\n- Both services are properly connected",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "No Tools Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Available Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Available Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Tools": {
      "main": [
        [
          {
            "node": "Check Tools Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tools Available": {
      "main": [
        [
          {
            "node": "Call Hotel Reservation Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tools Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Hotel Reservation Tool": {
      "main": [
        [
          {
            "node": "Process Reservation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Reservation Response": {
      "main": [
        [
          {
            "node": "Check Reservation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reservation Status": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "atdf-mcp-integration"
  },
  "id": "hotel-reservation-test",
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "atdf-test",
      "name": "ATDF Test"
    }
  ]
}
